# Instalando bibliotecas

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import streamlit as st
import numpy as np
import plotly as px
import glob
import os

# Instalando os dados

In [12]:
dados_amsterdam1 = r'C:\Users\walle\OneDrive\Área de Trabalho\Projetos DataScience\Projeto Preços Airbnb cidades europeias\dados\dados_weekdays\amsterdam_weekdays.csv'
df_amsterdam1 = pd.read_csv(dados_amsterdam1,sep=',')
df_amsterdam1.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [13]:
dados_athenas1 = r'C:\Users\walle\OneDrive\Área de Trabalho\Projetos DataScience\Projeto Preços Airbnb cidades europeias\dados\dados_weekdays\athens_weekdays.csv'
df_athenas1 = pd.read_csv(dados_athenas1,sep=',')
df_athenas1.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,129.824479,Entire home/apt,False,False,4.0,False,0,0,10.0,100.0,2,2.813964,0.881890,55.348572,2.086871,78.778377,5.915160,23.76600,37.98300
1,1,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,96.0,1,0.407293,0.304568,240.306654,9.060559,407.167696,30.572629,23.73168,37.97776
2,2,156.304923,Entire home/apt,False,False,3.0,True,0,1,10.0,98.0,1,1.237211,0.288488,199.507366,7.522257,395.967403,29.731642,23.72200,37.97900
3,3,91.627024,Entire home/apt,False,False,4.0,True,1,0,10.0,99.0,1,4.367457,0.297467,39.803047,1.500740,58.706578,4.408047,23.72712,38.01435
4,4,74.051508,Private room,False,True,2.0,False,0,0,10.0,100.0,1,2.194185,0.385266,78.733405,2.968577,113.325973,8.509204,23.73391,37.99529

In [ ]:
df_amsterdam1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103 entries, 0 to 1102
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1103 non-null   int64
 1   realSum                     1103 non-null   float64
 2   room_type                   1103 non-null   object
 3   room_shared                 1103 non-null   bool
 4   room_private                1103 non-null   bool
 5   person_capacity             1103 non-null   float64
 6   host_is_superhost           1103 non-null   bool
 7   multi                       1103 non-null   int64
 8   biz                         1103 non-null   int64
 9   cleanliness_rating          1103 non-null   float64
 10  guest_satisfaction_overall  1103 non-null   float64
 11  bedrooms                    1103 non-null   int64
 12  dist                        1103 non-null   float64
 13  metro_dist                  1103 non-null   float64
 14  attr_index                  1103 non-null   float64
 15  attr_index_norm             1103 non-null   float64
 16  rest_index                  1103 non-null   float64
 17  rest_index_norm             1103 non-null   float64
 18  lng                         1103 non-null   float64
 19  lat                         1103 non-null   float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 149.9+ KB

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [ ]:
df_athenas1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  2653 non-null   int64
 1   realSum                     2653 non-null   float64
 2   room_type                   2653 non-null   object
 3   room_shared                 2653 non-null   bool
 4   room_private                2653 non-null   bool
 5   person_capacity             2653 non-null   float64
 6   host_is_superhost           2653 non-null   bool
 7   multi                       2653 non-null   int64
 8   biz                         2653 non-null   int64
 9   cleanliness_rating          2653 non-null   float64
 10  guest_satisfaction_overall  2653 non-null   float64
 11  bedrooms                    2653 non-null   int64
 12  dist                        2653 non-null   float64
 13  metro_dist                  2653 non-null   float64
 14  attr_index                  2653 non-null   float64
 15  attr_index_norm             2653 non-null   float64
 16  rest_index                  2653 non-null   float64
 17  rest_index_norm             2653 non-null   float64
 18  lng                         2653 non-null   float64
 19  lat                         2653 non-null   float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 360.3+ KB

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

Chequei os DF para garantir que eles possuem a mesma quantidade de colunas para a criação de um df com todos os dados diarios

## Criando um DF com todos os dados diarios

In [25]:
# caminho com todos os arquivos diarios
pasta = r'C:\Users\walle\OneDrive\Área de Trabalho\Projetos DataScience\Projeto Preços Airbnb cidades europeias\dados\dados_weekdays'
arquivos_diarios = glob.glob(os.path.join(pasta,'*.csv')) 

# Lista para armazenar o DF

dfd = []

for arquivo in arquivos_diarios:
    df = pd.read_csv(arquivo)

    # Adciona coluna com nome da cidade/arquivo

    df['origem'] = os.path.basename(arquivo).replace('.csv', '')
    dfd.append(df)

# mesclando todos

df_dados_diarios = pd.concat(dfd, ignore_index=True) 

df_dados_diarios.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [26]:
df_dados_diarios['origem'].unique()

array(['amsterdam_weekdays', 'athens_weekdays', 'barcelona_weekdays',
       'berlin_weekdays', 'budapest_weekdays', 'lisbon_weekdays',
       'london_weekdays', 'paris_weekdays', 'rome_weekdays',
       'vienna_weekdays'], dtype=object)