# Instalando bibliotecas

In [116]:
import pandas as pd
import matplotlib.pyplot as plt
import streamlit as st
import numpy as np
import plotly as px
import glob
import os

# Instalando os dados

In [117]:
dados_amsterdam1 = r'C:\Users\walle\OneDrive\Área de Trabalho\Projetos DataScience\Projeto Preços Airbnb cidades europeias\dados\dados_weekdays\amsterdam_weekdays.csv'
df_amsterdam1 = pd.read_csv(dados_amsterdam1,sep=',')
df_amsterdam1.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [118]:
dados_athenas1 = r'C:\Users\walle\OneDrive\Área de Trabalho\Projetos DataScience\Projeto Preços Airbnb cidades europeias\dados\dados_weekdays\athens_weekdays.csv'
df_athenas1 = pd.read_csv(dados_athenas1,sep=',')
df_athenas1.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,129.824479,Entire home/apt,False,False,4.0,False,0,0,10.0,100.0,2,2.813964,0.881890,55.348572,2.086871,78.778377,5.915160,23.76600,37.98300
1,1,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,96.0,1,0.407293,0.304568,240.306654,9.060559,407.167696,30.572629,23.73168,37.97776
2,2,156.304923,Entire home/apt,False,False,3.0,True,0,1,10.0,98.0,1,1.237211,0.288488,199.507366,7.522257,395.967403,29.731642,23.72200,37.97900
3,3,91.627024,Entire home/apt,False,False,4.0,True,1,0,10.0,99.0,1,4.367457,0.297467,39.803047,1.500740,58.706578,4.408047,23.72712,38.01435
4,4,74.051508,Private room,False,True,2.0,False,0,0,10.0,100.0,1,2.194185,0.385266,78.733405,2.968577,113.325973,8.509204,23.73391,37.99529

In [119]:
df_amsterdam1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103 entries, 0 to 1102
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1103 non-null   int64
 1   realSum                     1103 non-null   float64
 2   room_type                   1103 non-null   object
 3   room_shared                 1103 non-null   bool
 4   room_private                1103 non-null   bool
 5   person_capacity             1103 non-null   float64
 6   host_is_superhost           1103 non-null   bool
 7   multi                       1103 non-null   int64
 8   biz                         1103 non-null   int64
 9   cleanliness_rating          1103 non-null   float64
 10  guest_satisfaction_overall  1103 non-null   float64
 11  bedrooms                    1103 non-null   int64
 12  dist                        1103 non-null   float64
 13  metro_dist                  1103 non-null   float64
 14  attr_index                  1103 non-null   float64
 15  attr_index_norm             1103 non-null   float64
 16  rest_index                  1103 non-null   float64
 17  rest_index_norm             1103 non-null   float64
 18  lng                         1103 non-null   float64
 19  lat                         1103 non-null   float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 149.9+ KB

In [120]:
df_athenas1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  2653 non-null   int64
 1   realSum                     2653 non-null   float64
 2   room_type                   2653 non-null   object
 3   room_shared                 2653 non-null   bool
 4   room_private                2653 non-null   bool
 5   person_capacity             2653 non-null   float64
 6   host_is_superhost           2653 non-null   bool
 7   multi                       2653 non-null   int64
 8   biz                         2653 non-null   int64
 9   cleanliness_rating          2653 non-null   float64
 10  guest_satisfaction_overall  2653 non-null   float64
 11  bedrooms                    2653 non-null   int64
 12  dist                        2653 non-null   float64
 13  metro_dist                  2653 non-null   float64
 14  attr_index                  2653 non-null   float64
 15  attr_index_norm             2653 non-null   float64
 16  rest_index                  2653 non-null   float64
 17  rest_index_norm             2653 non-null   float64
 18  lng                         2653 non-null   float64
 19  lat                         2653 non-null   float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 360.3+ KB

Chequei os DFs para garantir que eles possuem a mesma quantidade de colunas para a criação de um df com todos os dados diarios/fim de semana

## Criando um DF com todos os dados diarios

In [121]:
# caminho com todos os arquivos diarios
pasta = r'C:\Users\walle\OneDrive\Área de Trabalho\Projetos DataScience\Projeto Preços Airbnb cidades europeias\dados\dados_weekdays'
arquivos_diarios = glob.glob(os.path.join(pasta,'*.csv')) 

# Lista para armazenar o DF

dfd = []

for arquivo in arquivos_diarios:
    df = pd.read_csv(arquivo)

    # Adciona coluna com nome da cidade/arquivo

    df['origem'] = os.path.basename(arquivo).replace('.csv', '')
    dfd.append(df)

# mesclando todos

df_dados_diarios = pd.concat(dfd, ignore_index=True) 

df_dados_diarios.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,...,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,...,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [122]:
df_dados_diarios['origem'].unique()

array(['amsterdam_weekdays', 'athens_weekdays', 'barcelona_weekdays',
       'berlin_weekdays', 'budapest_weekdays', 'lisbon_weekdays',
       'london_weekdays', 'paris_weekdays', 'rome_weekdays',
       'vienna_weekdays'], dtype=object)

## Criando um DF com todos os dados de fim de semana

In [123]:
pasta = r'C:\Users\walle\OneDrive\Área de Trabalho\Projetos DataScience\Projeto Preços Airbnb cidades europeias\dados\dados_weekends'
arquivos_diarios = glob.glob(os.path.join(pasta,'*.csv')) 

dfd = []

for arquivo in arquivos_diarios:
    df = pd.read_csv(arquivo)
    df['origem'] = os.path.basename(arquivo).replace('.csv', '')
    dfd.append(df)

df_dados_FimDeSemana = pd.concat(dfd, ignore_index=True) 

df_dados_FimDeSemana.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,amsterdam_weekends
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,amsterdam_weekends
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,amsterdam_weekends
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,amsterdam_weekends
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,...,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,amsterdam_weekends

# Analise exploratoria dos dados

In [124]:
df_dados_diarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  25500 non-null  int64
 1   realSum                     25500 non-null  float64
 2   room_type                   25500 non-null  object
 3   room_shared                 25500 non-null  bool
 4   room_private                25500 non-null  bool
 5   person_capacity             25500 non-null  float64
 6   host_is_superhost           25500 non-null  bool
 7   multi                       25500 non-null  int64
 8   biz                         25500 non-null  int64
 9   cleanliness_rating          25500 non-null  float64
 10  guest_satisfaction_overall  25500 non-null  float64
 11  bedrooms                    25500 non-null  int64
 12  dist                        25500 non-null  float64
 13  metro_dist                  25500 non-null  float64
 14  attr_index                  25500 non-null  float64
 15  attr_index_norm             25500 non-null  float64
 16  rest_index                  25500 non-null  float64
 17  rest_index_norm             25500 non-null  float64
 18  lng                         25500 non-null  float64
 19  lat                         25500 non-null  float64
 20  origem                      25500 non-null  object
dtypes: bool(3), float64(12), int64(4), object(2)
memory usage: 3.6+ MB

In [125]:
df_dados_FimDeSemana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26207 entries, 0 to 26206
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  26207 non-null  int64
 1   realSum                     26207 non-null  float64
 2   room_type                   26207 non-null  object
 3   room_shared                 26207 non-null  bool
 4   room_private                26207 non-null  bool
 5   person_capacity             26207 non-null  float64
 6   host_is_superhost           26207 non-null  bool
 7   multi                       26207 non-null  int64
 8   biz                         26207 non-null  int64
 9   cleanliness_rating          26207 non-null  float64
 10  guest_satisfaction_overall  26207 non-null  float64
 11  bedrooms                    26207 non-null  int64
 12  dist                        26207 non-null  float64
 13  metro_dist                  26207 non-null  float64
 14  attr_index                  26207 non-null  float64
 15  attr_index_norm             26207 non-null  float64
 16  rest_index                  26207 non-null  float64
 17  rest_index_norm             26207 non-null  float64
 18  lng                         26207 non-null  float64
 19  lat                         26207 non-null  float64
 20  origem                      26207 non-null  object
dtypes: bool(3), float64(12), int64(4), object(2)
memory usage: 3.7+ MB

In [126]:
df_dados_diarios.describe()

,Unnamed: 0,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
count,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000
mean,1549.896627,275.681904,3.175529,0.293529,0.358745,9.389176,92.586549,1.165725,3.160597,0.680994,293.734519,13.265403,625.004708,23.499036,7.594875,45.568793
std,1137.783204,354.279644,1.308675,0.455388,0.479642,0.954920,8.964563,0.634562,2.385645,0.849603,223.797459,9.699020,500.614980,17.745870,9.827575,5.252706
min,0.000000,37.129295,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.015059,0.003944,15.532918,0.926301,21.455803,0.667010,-9.226340,37.953000
25%,637.000000,145.168856,2.000000,0.000000,0.000000,9.000000,90.000000,1.000000,1.433281,0.250707,135.310097,6.305256,246.196343,9.829716,-0.065040,41.393000
50%,1295.000000,207.148849,3.000000,0.000000,0.000000,10.000000,95.000000,1.000000,2.591957,0.415916,234.030980,11.330320,519.418450,17.726663,4.892140,47.502130
75%,2274.000000,311.390202,4.000000,1.000000,1.000000,10.000000,98.000000,1.000000,4.226353,0.742088,386.369921,17.231257,832.396771,33.411143,16.308532,51.465620
max,4613.000000,18545.450285,6.000000,1.000000,1.000000,10.000000,100.000000,10.000000,22.617451,13.314108,4512.595170,100.000000,5584.771840,100.000000,23.786020,52.641410

In [127]:
df_dados_FimDeSemana.describe()

,Unnamed: 0,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
count,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000,26207.000000
mean,1689.203381,283.964035,3.148167,0.289236,0.341893,9.392033,92.668791,1.151982,3.221146,0.682071,294.661022,13.577908,628.658722,22.092550,7.261814,45.770702
std,1286.432063,300.068554,1.288494,0.453416,0.474353,0.954835,8.926958,0.620310,2.401382,0.866153,225.684417,9.910615,495.287002,17.833576,9.769937,5.244095
min,0.000000,34.779339,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.015045,0.002301,15.152201,1.040228,19.576924,0.592757,-9.226340,37.953000
25%,655.000000,150.760816,2.000000,0.000000,0.000000,9.000000,90.000000,1.000000,1.469271,0.246313,137.860727,6.456540,255.494553,7.722461,-0.080000,41.407595
50%,1378.000000,216.463415,3.000000,0.000000,0.000000,10.000000,95.000000,1.000000,2.639264,0.410513,234.723183,11.609800,524.825885,17.318779,2.408000,47.514000
75%,2490.000000,326.140322,4.000000,1.000000,1.000000,10.000000,99.000000,1.000000,4.300299,0.734434,385.007206,17.586646,832.845690,32.540451,13.458745,51.475630
max,5378.000000,13656.358834,6.000000,1.000000,1.000000,10.000000,100.000000,10.000000,25.284557,14.273577,4513.563486,100.000000,6696.156772,100.000000,23.786020,52.641410

## chequando valores nulos

In [128]:
df_dados_diarios.isna().sum()

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
origem                        0
dtype: int64

In [129]:
df_dados_FimDeSemana.isna().sum()

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
origem                        0
dtype: int64

## Chequando valores unicos

In [130]:
df_dados_diarios['origem'].unique()

array(['amsterdam_weekdays', 'athens_weekdays', 'barcelona_weekdays',
       'berlin_weekdays', 'budapest_weekdays', 'lisbon_weekdays',
       'london_weekdays', 'paris_weekdays', 'rome_weekdays',
       'vienna_weekdays'], dtype=object)

In [131]:
df_dados_diarios['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

## Entendendo as colunas

realSum → preço do Airbnb (variável alvo)

origem → cidade

room_type → tipo de acomodação

room_shared, room_private → flags de tipo

person_capacity, bedrooms → tamanho

dist, metro_dist → localização

attr_index, rest_index → atratividade urbana

ratings → qualidade

host_is_superhost, multi, biz → perfil do host

## Removendo colunas disnecessarias

In [132]:
df_dados_diarios = df_dados_diarios.drop(columns = ['Unnamed: 0'])
df_dados_FimDeSemana = df_dados_FimDeSemana.drop(columns= ['Unnamed: 0'])

In [133]:
df_dados_FimDeSemana.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,amsterdam_weekends
1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,amsterdam_weekends
2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,amsterdam_weekends
3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,amsterdam_weekends
4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,amsterdam_weekends

Removi a coluna Unnamed: 0, que foi apenas uma coluna criada no processo de juntar os DataFrames das cidades de origem, ao salvar o índice imposto pelo pandas.

## Verificando  e corrigindo tipos de dados

Dados diarios

In [134]:
df_dados_diarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   realSum                     25500 non-null  float64
 1   room_type                   25500 non-null  object
 2   room_shared                 25500 non-null  bool
 3   room_private                25500 non-null  bool
 4   person_capacity             25500 non-null  float64
 5   host_is_superhost           25500 non-null  bool
 6   multi                       25500 non-null  int64
 7   biz                         25500 non-null  int64
 8   cleanliness_rating          25500 non-null  float64
 9   guest_satisfaction_overall  25500 non-null  float64
 10  bedrooms                    25500 non-null  int64
 11  dist                        25500 non-null  float64
 12  metro_dist                  25500 non-null  float64
 13  attr_index                  25500 non-null  float64
 14  attr_index_norm             25500 non-null  float64
 15  rest_index                  25500 non-null  float64
 16  rest_index_norm             25500 non-null  float64
 17  lng                         25500 non-null  float64
 18  lat                         25500 non-null  float64
 19  origem                      25500 non-null  object
dtypes: bool(3), float64(12), int64(3), object(2)
memory usage: 3.4+ MB

In [135]:
df_dados_diarios.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [153]:
df_dados_diarios['person_capacity'].unique()

<IntegerArray>
[2, 4, 3, 6, 5]
Length: 5, dtype: Int64

Podemos ver que esse tipo de dado não faz sentido, pois ele indica a capacidade de pessoas por anúncio, e isso deveria ser um número inteiro, já que um quarto não comporta 1,5 pessoas.

In [137]:
df_dados_diarios['person_capacity'] = df_dados_diarios['person_capacity'].convert_dtypes('int')

In [138]:
df_dados_diarios['person_capacity']

0        2
1        4
2        2
3        4
4        2
        ..
25495    4
25496    4
25497    2
25498    2
25499    4
Name: person_capacity, Length: 25500, dtype: Int64

In [139]:
df_dados_diarios['cleanliness_rating'].unique()

array([10.,  8.,  9.,  6.,  7.,  5.,  4.,  2.,  3.])

A coluna  cleanliness_rating apresenta apenas valores discretos inteiros (2 a 10), caracterizando escalas ordinais. Por isso, acredito ser melhor converter para o tipo inteiro

In [140]:
df_dados_diarios['cleanliness_rating'] = df_dados_diarios['cleanliness_rating'].convert_dtypes('int')

In [141]:
df_dados_diarios['cleanliness_rating']

0        10
1         8
2         9
3         9
4        10
         ..
25495     8
25496    10
25497     8
25498    10
25499    10
Name: cleanliness_rating, Length: 25500, dtype: Int64

In [142]:
df_dados_diarios['guest_satisfaction_overall'].unique()

array([ 93.,  85.,  87.,  90.,  98., 100.,  94.,  96.,  88.,  97.,  95.,
        89.,  91.,  84.,  77.,  99.,  80.,  92.,  82.,  78.,  86.,  74.,
        81.,  83.,  73.,  76.,  75.,  70.,  65.,  47.,  60.,  20.,  40.,
        72.,  79.,  68.,  57.,  56.,  67.,  50.,  53.,  63.,  71.,  66.,
        64.,  69.,  62.,  30.,  44.,  46.,  55.])

Apesar de a variável guest_satisfaction_overall apresentar apenas valores inteiros, sua distribuição indica tratar-se de uma pontuação agregada em escala contínua (0–100). Por esse motivo, a variável foi mantida como float, preservando sua interpretação estatística.

Dados fim de semana

In [143]:
df_dados_FimDeSemana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26207 entries, 0 to 26206
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   realSum                     26207 non-null  float64
 1   room_type                   26207 non-null  object
 2   room_shared                 26207 non-null  bool
 3   room_private                26207 non-null  bool
 4   person_capacity             26207 non-null  float64
 5   host_is_superhost           26207 non-null  bool
 6   multi                       26207 non-null  int64
 7   biz                         26207 non-null  int64
 8   cleanliness_rating          26207 non-null  float64
 9   guest_satisfaction_overall  26207 non-null  float64
 10  bedrooms                    26207 non-null  int64
 11  dist                        26207 non-null  float64
 12  metro_dist                  26207 non-null  float64
 13  attr_index                  26207 non-null  float64
 14  attr_index_norm             26207 non-null  float64
 15  rest_index                  26207 non-null  float64
 16  rest_index_norm             26207 non-null  float64
 17  lng                         26207 non-null  float64
 18  lat                         26207 non-null  float64
 19  origem                      26207 non-null  object
dtypes: bool(3), float64(12), int64(3), object(2)
memory usage: 3.5+ MB

In [144]:
df_dados_FimDeSemana.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,amsterdam_weekends
1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,amsterdam_weekends
2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,amsterdam_weekends
3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,amsterdam_weekends
4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,amsterdam_weekends

In [154]:
df_dados_diarios['person_capacity'].unique()

<IntegerArray>
[2, 4, 3, 6, 5]
Length: 5, dtype: Int64

Podemos ver que esse tipo de dado não faz sentido, pois ele indica a capacidade de pessoas por anúncio, e isso deveria ser um número inteiro, já que um quarto não comporta 1,5 pessoas.

In [145]:
df_dados_FimDeSemana['person_capacity'] = df_dados_FimDeSemana['person_capacity'].convert_dtypes('int')

In [146]:
df_dados_FimDeSemana['person_capacity']

0        2
1        2
2        4
3        2
4        4
        ..
26202    6
26203    2
26204    2
26205    2
26206    4
Name: person_capacity, Length: 26207, dtype: Int64

In [147]:
df_dados_FimDeSemana['cleanliness_rating'].unique()

array([ 9., 10.,  8.,  6.,  7.,  5.,  4.,  2.,  3.])

A coluna  cleanliness_rating apresenta apenas valores discretos inteiros (2 a 10), caracterizando escalas ordinais. Por isso, acredito ser melhor converter para o tipo inteiro

In [148]:
df_dados_FimDeSemana['cleanliness_rating'] = df_dados_FimDeSemana['cleanliness_rating'].convert_dtypes('int')

In [149]:
df_dados_FimDeSemana['cleanliness_rating']

0         9
1         9
2         9
3        10
4        10
         ..
26202    10
26203     8
26204    10
26205    10
26206    10
Name: cleanliness_rating, Length: 26207, dtype: Int64

In [150]:
df_dados_FimDeSemana['guest_satisfaction_overall'].unique()

array([ 88.,  87.,  90.,  98., 100.,  96.,  99.,  97.,  95.,  93.,  94.,
        89.,  91.,  84.,  80.,  92.,  82.,  78.,  85.,  86.,  83.,  73.,
        76.,  81.,  75.,  70.,  65.,  47.,  60.,  20.,  72.,  79.,  77.,
        67.,  50.,  40.,  68.,  53.,  56.,  57.,  74.,  71.,  66.,  63.,
        64.,  69.,  62.,  30.,  44.,  55.,  61.,  54.])

Apesar de a variável guest_satisfaction_overall apresentar apenas valores inteiros, sua distribuição indica tratar-se de uma pontuação agregada em escala contínua (0–100). Por esse motivo, a variável foi mantida como float, preservando sua interpretação estatística.

Chequando as alterações

In [151]:
df_dados_diarios.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,194.033698,Private room,False,True,2,False,1,0,10,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,amsterdam_weekdays
1,344.245776,Private room,False,True,4,False,0,0,8,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,amsterdam_weekdays
2,264.101422,Private room,False,True,2,False,0,1,9,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,amsterdam_weekdays
3,433.529398,Private room,False,True,4,False,0,1,9,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,amsterdam_weekdays
4,485.552926,Private room,False,True,2,True,0,0,10,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,amsterdam_weekdays

In [152]:
df_dados_FimDeSemana.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,origem
0,319.640053,Private room,False,True,2,False,0,1,9,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,amsterdam_weekends
1,347.995219,Private room,False,True,2,False,0,1,9,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,amsterdam_weekends
2,482.975183,Private room,False,True,4,False,0,1,9,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,amsterdam_weekends
3,485.552926,Private room,False,True,2,True,0,0,10,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,amsterdam_weekends
4,2771.541724,Entire home/apt,False,False,4,True,0,0,10,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,amsterdam_weekends